@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: TTInterfacesRegular;
    src: url("../src/fonts/TTInterfaces-Regular.ttf");
  }
  @font-face {
    font-family: TTInterfacesBold;
    src: url("../src/fonts/TTInterfaces-Bold.ttf");
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: "TTInterfacesRegular" ;
}

/* @font-face {
  font-family: "BreeSerif-Regular";
  font-weight: 700;
  src: local("BreeSerif-Regular"),
    url(/fonts/BreeSerif-Regular.ttf) format("ttf");
} */
